<p>Home works!</p>
<app-card img="https://deckofcardsapi.com/static/img/2H.png" [visible]="false"></app-card>
<app-card img="https://deckofcardsapi.com/static/img/3H.png" [visible]="false"></app-card>
<app-card img="https://deckofcardsapi.com/static/img/4H.png" [visible]="false"></app-card>
<app-card img="https://deckofcardsapi.com/static/img/5H.png" [visible]="false"></app-card>
<app-card img="https://deckofcardsapi.com/static/img/6H.png" [visible]="false"></app-card>
<app-card img="https://deckofcardsapi.com/static/img/7H.png" [visible]="false"></app-card>