<a class="list-group-item list-group-item-action align-items-start" [routerLink]="['/', game.type, game.deckId]">
    <div class="d-block d-md-flex w-100 justify-content-between">
        <div class="d-flex flex-column align-items-center align-self-center">
            <em class="delete-icon"
                [ngStyle]="{'background-image': 'url('+deleteSvg+')'}"
                (click)="deleteGame($event)"></em>
        </div>
        <div class="d-flex flex-column align-items-center align-self-center">
            <h5 class="mb-1 d-flex flex-row">{{game.name}}</h5>
            <h6 class="mb-1 d-flex flex-row">{{game.remainingCards}} cartas restantes</h6>
            <small class="d-flex flex-row">Ultimo cambio {{ game.lastChange | date: 'dd/MM/yyyy HH:mm' }}</small>
        </div>
        <div class="mt-4 mt-md-0">
            <p class="badge bg-success">{{game.wins}} victorias</p>
            <p class="badge bg-danger">{{game.losses}} derrotas</p>
        </div>
    </div>
</a>