<h3 class="page-title sticky top-sub-sticky"
    *ngIf="game">Partida {{game.name}}</h3>

<div class="row">
    <p class="badge col-6 bg-success">{{game.wins}} victorias</p>
    <p class="badge col-6 bg-danger">{{game.losses}} derrotas</p>
</div>

<h5 class="page-title">Tus cartas</h5>

<app-card-list scoreMessage="Tu puntuacion"
    [cards]="playerCards"
    [showLoading]="showLoading"
    [score]="score"></app-card-list>

<ng-container *ngIf="croupierTurn">
    <app-card-list scoreMessage="Puntuacion banca"
        [cards]="croupierCards"
        [showLoading]="showCroupierLoading"
        [score]="croupierScore"></app-card-list>
</ng-container>

<p class="alert alert-dark my-1" role="alert">{{game.remainingCards}} cartas restantes</p>
<p *ngIf="win" class="alert alert-success" role="alert">¡Enhorabuena has ganado!</p>
<p *ngIf="losse && !croupierTurn" class="alert alert-danger" role="alert">Te has pasado, prueba de nuevo</p>
<p *ngIf="losse && croupierTurn" class="alert alert-danger" role="alert">Ha ganado la banca, prueba de nuevo</p>

<div class="sticky bottom-sticky py-2 mt-2 d-flex justify-content-evenly">
    <button type="button" class="btn btn-primary" *ngIf="!gameStarted" (click)="play()">Jugar</button>
    <ng-container *ngIf="gameStarted && !losse && !win && !croupierTurn">
        <button type="button"
            class="btn btn-primary"
            [disabled]="buttonLoading"
            (click)="standUp()">Plantarse</button>
        <button type="button"
            class="btn btn-primary"
            [disabled]="buttonLoading"
            (click)="getOtherCard()">
            <span *appSpinner="buttonLoading">Pedir otra</span>
        </button>
    </ng-container>
    <ng-container *ngIf="losse || win">
        <button type="button" class="btn btn-primary" (click)="playAgain()">Jugar de nuevo</button>
        <button type="button" class="btn btn-primary" (click)="shuffleCards(true)">Barajar cartas</button>
    </ng-container>
</div>