img{
    width: 125px;
    max-width: 100%;
}

.suit{
    display: inline-block;
    opacity: .5;
    transition: opacity .25s;
    cursor: pointer;

    &:hover, &.selected{
        opacity: 1;
    }

    &.selected{
        border-bottom: solid 2px;
    }
}

.page-title{
    &.disabled{
        opacity: .5;
    }
}

.badge{
    padding: 5px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}
