<h3 class="page-title sticky top-sub-sticky"
    *ngIf="game">Partida {{game.name}}</h3>

<div class="row">
    <p class="badge col-6 bg-success" (click)="showModal(pileNames['wins'])">Ver {{game.wins}} victorias</p>
    <p class="badge col-6 bg-danger" (click)="showModal(pileNames['losses'])">Ver {{game.losses}} derrotas</p>
</div>

<h5 class="page-title">Selecciona que carta va a salir</h5>

<div class="row mb-2">
    <div class="suit mb-2 col-3"
        [ngClass]="{'selected': selectedCardSuit === suitOption.suit}"
        (click)="toggleSuit(suitOption.suit)" 
        *ngFor="let suitOption of suitOptions; trackBy: trackByIndex">
        
        <img [src]="suitOption.img" [alt]="suitOption.alt">
    </div>
</div>

<h5 class="page-title" [ngClass]="{'disabled': !selectedCardSuit}">Levanta la carta</h5>

<div class="px-4 mx-4">
    <app-card [img]="cardImage"
        [visible]="cardVisible"
        [disabled]="!selectedCardSuit"
        (cardClick)="getCard()"></app-card>
</div>

<p class="alert alert-dark my-1" role="alert">{{game.remainingCards}} cartas restantes</p>
<p *ngIf="win" class="alert alert-success" role="alert">¡Enhorabuena has acertado!</p>
<p *ngIf="losse" class="alert alert-danger" role="alert">Has fallado, prueba de nuevo</p>

<div class="sticky bottom-sticky py-2 mt-2 d-flex justify-content-evenly" *ngIf="win || losse">
    <button (click)="shuffleCards()" type="button" class="btn btn-primary">Barajar cartas</button>
    <button (click)="playAgain()" type="button" class="btn btn-primary">Volver a jugar</button>
</div>

<dialog appDialog #previousCardsDialog (close)="closeModal()">
    <div dialog-content>
        <h4 class="page-title" *ngIf="selectedPileName === pileNames['wins']">
            Partidas ganadas
        </h4>
        <h4 class="page-title" *ngIf="selectedPileName === pileNames['losses']">
            Partidas perdidas
        </h4>
        <ng-container *appSpinner="showLoading">
            <div *ngIf="previousCards?.length; else empty" class="row previous-cards">
                <div class="col-4" *ngFor="let previousCard of previousCards; trackBy: trackByIndex">
                    <app-card [animation]="false" [visible]="true" [img]="previousCard.image"></app-card>
                </div>
            </div>
        </ng-container>
    </div>
    <div dialog-actions class="d-flex justify-content-end">
        <button type="button" class="btn btn-success" (click)="closeModal()">Cerrar</button>
    </div>
</dialog>

<ng-template #empty>
    <div class="list-group-item list-group-item-action flex-column align-items-start disabled">
        <h5 class="my-4 py-2 text-center">
            <span *ngIf="selectedPileName === pileNames['wins']">Todavia no has ganado ninguna partida.</span>
            <span *ngIf="selectedPileName === pileNames['losses']">Todavia no has perdida ninguna partida.</span>
        </h5>
    </div>
</ng-template>