<h3 class="page-title sticky top-sub-sticky">
  <span>Listado de partidas de </span>
  <span class="game-type">'{{gameTitle}}'</span>
</h3>

<div class="list-group">
  <ng-container *ngIf="games?.length; else empty">
    <app-game-item [game]="game" (deleteAction)="showDeleteModal($event)" *ngFor="let game of games; trackBy: trackByIndex"></app-game-item>
  </ng-container>
</div>

<div class="sticky bottom-sticky py-2 mt-2">
  <button (click)="showModal()" type="button" class="btn btn-primary">Nueva partida</button>
</div>

<ng-template #empty>
  <div class="list-group-item list-group-item-action flex-column align-items-start disabled">
    <h5 class="my-4 py-2 text-center">
      <span>Todavia no has jugado ninguna partida de </span>
      <span class="game-type">'{{gameTitle}}'</span>
    </h5>
  </div>
</ng-template>

<dialog appDialog #createGameDialog (close)="closeModal()">
  <div dialog-content>
    <h4 class="page-title">Introduce un nombre para la partida</h4>
    <input type="text" class="form-control" placeholder="Nombre de la partida" [(ngModel)]="gameName">
  </div>
  <div dialog-actions class="d-flex justify-content-between">
    <button type="button" class="btn btn-danger" [disabled]="loading" (click)="closeModal()">
      Cancelar
    </button>
    <button type="button"
      class="btn btn-success"
      [disabled]="!gameName || loading"
      (click)="createGame()">
      <span *appSpinner="loading">
        Crear partida
      </span>
    </button>
  </div>
</dialog>

<dialog appDialog #confirmDeleteDialog (close)="closeDeleteModal()">
  <div dialog-content>
    <h4 class="page-title">¿Esta seguro que desea borrar la partida '{{deletedGame?.name}}'?</h4>
  </div>
  <div dialog-actions class="d-flex justify-content-between">
    <button type="button" class="btn btn-danger" (click)="closeDeleteModal()">
      Cancelar
    </button>
    <button type="button" class="btn btn-success" (click)="deleteGame()">
      Borrar
    </button>
  </div>
</dialog>