.badge{
    padding: 5px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.player-cards{
    min-height: 100px;
}

app-card{
    display: inline-block;
    width: 90%;
    max-width: 150px;
    margin: 0 auto;
}