.game-type{
    font-style: italic;
}

.marker{
    color: white;
    padding: 4px 10px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 2.5px 0;
    
    &.wins{
        background: var(--succes-color);
    }

    &.losses{
        background: var(--error-color);
    }
}