<h3 class="page-title">
  <span>Listado de partidas de </span>
  <span class="game-type">'{{gameTitle}}'</span>
</h3>

<div class="list-group">
  <ng-container *ngIf="games?.length; else empty">
      <a [routerLink]="['/', game.type, game.deckId]"
          class="list-group-item list-group-item-action align-items-start"
          *ngFor="let game of games; trackBy: trackByIndex">
        <div class="d-block d-md-flex w-100 justify-content-between">
          <div (click)="deleteGame($event, game.deckId)">
            Delete
          </div>
          <div class="d-flex flex-column align-items-center align-self-center">
            <h5 class="mb-1 d-flex flex-row">{{game.name}}</h5>
            <h6 class="mb-1 d-flex flex-row">{{game.remainingCards}} cartas restantes</h6>
            <small class="d-flex flex-row">Ultimo cambio {{ game.lastChange | date: 'dd/MM/yyyy HH:mm' }}</small>
          </div>
          <div class="mt-4 mt-md-0">
            <p class="marker wins">{{game.wins}} victorias</p>
            <p class="marker losses">{{game.losses}} derrotas</p>
          </div>
        </div>
      </a>
    </ng-container>
</div>

<button (click)="showModal()" type="button" class="btn btn-primary mt-4">Nueva partida</button>

<ng-template #empty>
  <div class="list-group-item list-group-item-action flex-column align-items-start disabled">
    <h5 class="my-4 py-2 text-center">
      <span>Todavia no has jugado ninguna partida a </span>
      <span class="game-type">'{{gameTitle}}'</span>
    </h5>
  </div>
</ng-template>

<dialog appDialog #createGameDialog>
  <div dialog-content>
    <h4 class="page-title">Introduce un nombre para la partida</h4>
    <input type="text" class="form-control" placeholder="Nombre de la partida" [(ngModel)]="gameName">
  </div>
  <div dialog-actions class="d-flex justify-content-between">
    <button type="button" class="btn btn-danger" (click)="closeModal()">
      Cancelar
    </button>
    <button type="button" class="btn btn-success" [disabled]="!gameName" (click)="createGame()">
      Crear partida
    </button>
  </div>
</dialog>
