@import "~bootstrap/dist/css/bootstrap.css";

:root{
    --succes-color:  #1ea21e;
    --error-color:  #a50909;
    --white-color: white;
}

.page-title{
    font-weight: 800;   
    padding-bottom: 20px;
}

dialog {
    background: unset;
    border: unset;
    padding: unset;
}

.sticky{
    background: white;
    position: sticky;
    z-index: 3;
    width: 100%;

    &.top-sticky{
        top: 0;
    }
    
    &.bottom-sticky{
        bottom: 0;
    }
}