@import "~bootstrap/dist/css/bootstrap.css";

:root{
    --breadcrumb-height: 40px;
    --succes-color:  #1ea21e;
    --error-color:  #a50909;
    --breadcrumb-color: #e6e6e6;    
    --scrollbar-color: #7571f3;    
    --white-color: white;
}

.page-title{
    font-weight: 800;   
    padding-bottom: 20px;
}

dialog {
    background: unset;
    border: unset;
    padding: unset;
}

.sticky{
    background: white;
    position: sticky;
    z-index: 3;
    width: 100%;

    &.top-sticky{
        top: 0;
    }

    &.top-sub-sticky{
        top: var(--breadcrumb-height);
        padding-top: 10px;
    }
    
    &.bottom-sticky{
        bottom: 0;
    }
}

*::-webkit-scrollbar {
    width: 10px;
}
  
*::-webkit-scrollbar-track {
    background: transparent;
}
  
*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 20px;
}