.dialog{
  min-width: 300px;
  position: relative;
  z-index: 5;
  border: solid 1px rgb(0 0 0 / 50%);
}

.dialog-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  height: 20px;
  width: 20px;
  text-align: center;
  box-sizing: border-box;
  border: solid 1px var(--error-color);
  color: var(--white-color);
  background-color: var(--error-color);
  border-radius: 100px;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  font-weight: bold;
}

.shadow {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 20%);
}
